---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans|Anton|PT+Sans+Narrow:400,700');

@import 'bootstrap.min.scss';
$mobile-min-width: 320px;
$mobile-max-width: 640px;
$default-font-size: 16px;


$typo-multiplier: 1.333;

$h4_size: 1em * $typo-multiplier;
$h3_size: $h4-size * $typo-multiplier;
$h2_size: $h3-size * $typo-multiplier;
$h1_size: $h2-size * $typo-multiplier;

$site-color-1: black;
$site-color-2: white;
$site-color-3: #ED5A8B;
$site-copy-color: black;

$overlay-color: rgba(0, 0, 0, 0.8);

$default-font: 'Open Sans', 'Sans Serif';
$menu-font: 'Abel', 'Sans Serif';
$about-font: $default-font;
$bestiaire-hovering-text-font: $menu-font;
$title-font: 'PT Sans Narrow', 'Sans Serif';
$headline-font: 'Anton', 'Sans Serif';

$caption-font: 'PT Sans Narrow', 'Sans Serif';
$blockquote-font: 'Times New Roman', 'georgia', 'serif';
$copy-font: $default-font;

$article-img-width: 80%;

@mixin on-mobile() {
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        @content;
    }
}

@import 'reset.scss';

body {
    color: $site-copy-color;
    overflow-x: hidden;
}

.selected {
    background-color: $site-color-1;
    color: $site-color-2;
}

//Fix for the y overflow issue
.container-fluid 
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

%title {
    line-height: 1.05;
    padding-top: 0.4em;
    padding-bottom: 0.2em;
}

h1 {
    @extend %title;
    font-size: $h1-size;
}

h2 {
    @extend %title;
    font-size: $h2-size;
}

h3 {
    @extend %title;
    font-size: $h3-size;
}

h4 {
    @extend %title;
    font-size: $h4-size;
}

a.tag {

    text-decoration:none;
    &:hover span {
        background-color: $site-color-3;
    }
    h4 {
        display: inline-block;
        font-size: 1em;
    }
    span {
        background-color: $site-color-1;
        font-family: $default-font;
        border-radius: 0;
    }
}



button#scroll-top {
    position: fixed;
    z-index: 4;
    bottom: 1vw;
    right: 22vw;
    background-color: transparent;
    border: none;
    &:focus { 
        outline: none; 
    }
    span {
        font-size: $h4-size;
    }
    @include on-mobile() {
        bottom: 1vw;
        right: 1vw;
        color: rgba(0, 0, 0, 0.8);
    }
}
header.site-header {
    a {
        height: 0;
    }
    img#site-header-image {
        max-width: 100%;
    }
    nav#site-nav {
        @include on-mobile() {
            //Will be displayed by script
            display: none;
        }
        text-align: center;
        background-color: $site-color-3;
        //WARNING it seems that the header image as a white stripe at the bottom
        margin-top: -0.2em;
        ul {
            li {
                display: inline-block;
                padding: 1em;
                a {
                    font-family: $menu-font;
                    font-size: $h4-size;
                    color: $site-copy-color;
                    text-decoration: none;
                }
                &:hover {
                    background-color: $site-color-1;
                    a {
                        color: $site-color-2;
                    }
                }
            }
        }
    }
}
div.page-content {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

%headline {
    font-family: $menu-font;
    text-align: center;
    background-color: $site-color-1;
    color: $site-color-2;
}

h1.category-headline {
    @extend %headline;
}

h1.tag-headline {
    @extend %headline;
}

div#side-bar {
    * {
        text-align: center;
        font-family: $menu-font;
    }
    .side-bar-element {
        padding: 3em;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    img {
        max-width: 75%;
    }
}

footer.site-footer {
    padding: 2em;
    text-align: center;
    background-color: $site-color-3;
    background-image: url('../images/brick-wall-dark.png');
    a, p {
        font-family: $menu-font;
    }
    span.glyphicon {
        color: red;
    }
}

@import 'mobile-side-panel.scss';
@import 'bestiaire.scss';


div.archives {
    ul {
        padding: 0.5em;
        li {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            a {
                text-decoration: none;
                color: $site-copy-color;
                &:hover {
                    color: $site-color-3;
                }
                h2 {
                    padding: 0.1em;
                    font-family: $headline-font;
                    @include on-mobile() {
                        font-size: $h4-size;
                    }
                }
            }

        }
    }
}

div.tags-page {
    padding-top: 1em;
}
article.post {
    padding-bottom: 2vw;
    header.post-header {
        a {
            color: $site-copy-color;
            text-decoration: none;
            .post-title {
                font-family: $headline-font;
                padding-bottom: 0;
                border-bottom: 2px solid $site-color-1;
            }
            &:hover {
                color: $site-color-3;
            }
        }
        p.post-meta {
            padding-top: 1em;
            padding-bottom: 1em;

        }
    }
    div.post-content {
        h2,h3,h4,h5 {
            font-family: $title-font;
            padding-bottom: 0.05em;
        }
        p {
            font-family: $copy-font;
            text-align: justify;
            padding-bottom: 1em;
            line-height: 1.3;
        }
        blockquote {
            padding: 1em;
            p {
                font-family: $blockquote-font;
                font-size: 1.2em;
                text-align: left;
                font-style: italic;
                padding: 0.1em;
            }
            p.credit {
                text-align: right;
            }
        }
        .element-caption {
            position: relative;
            text-align: center;
            margin-top: 1em;
            margin-bottom: 1em;
            img {
                max-width: $article-img-width;
                @include on-mobile() {
                    max-width: 100%;
                }
            }

            .twitter-tweet {
                margin: 0 auto;
            }

            div.caption {
                font-family: $caption-font;
                font-weight: 700;
                font-size: 1.2em;
            }
            div.img-caption {
                position: absolute;
                bottom: 0;
                left: ((100% - $article-img-width) / 2);
                width: $article-img-width;
                color: white;
                padding: 1em;
                background: rgba(0, 0, 0, 0.4);
                @include on-mobile() {
                    left: 0;
                    width: 100%;
                }
            }
            iframe.embeded-video {
                width: 480px;
                height: 320px;
                
                @include on-mobile() {
                    width: 320px;
                    height: 240px;
                }
            } 
        }
        .element-caption-portrait {
            float: right;
            max-width: 58%;
            @include on-mobile() {
                max-width: 100%;
            }
        }
        audio {
            background-color: $site-color-1;
        }
    }
    footer.post-footer {
        background-color: $site-color-1;
        color: $site-color-2;
        padding: 1em;
        a {
            color: $site-color-3;
        }
        div {
            text-align: center;
            padding: 0.4em;
            span.glyphicon {
                color: red;
            }
        }
    }
}

@import 'about.scss';
