---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url('https://fonts.googleapis.com/css?family=Abel');

@import 'bootstrap.min.scss';
$mobile-min-width: 320px;
$mobile-max-width: 640px;
$default-font-size: 16px;
$default-font-family: 'Georgia';
$menu-font: 'Abel';
$default-color: black;
$overlay-color: rgba(0, 0, 0, 0.8);

$typo-multiplier: 1.333;

$h4_size: 1em * $typo-multiplier;
$h3_size: $h4-size * $typo-multiplier;
$h2_size: $h3-size * $typo-multiplier;
$h1_size: $h2-size * $typo-multiplier;

@import 'reset.scss';
body {
    color: $default-color;
    overflow-x: hidden;
}

//Fix for the y overflow issue
.container-fluid 
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

%title {
    line-height: 1.05;
    padding-top: 0.4em;
    padding-bottom: 0.2em;
}

h1 {
    @extend %title;
    font-size: $h1-size;
}

h2 {
    @extend %title;
    font-size: $h2-size;
}

h3 {
    @extend %title;
    font-size: $h3-size;
}

h4 {
    @extend %title;
    font-size: $h4-size;
}

header.site-header {
    a {
        height: 0;
    }
    img#site-header-image {
        max-width: 100%;
    }
    nav#site-nav {
        text-align: center;
        background-color: lightgrey;
        //WARNING it seems that the header image as a white stripe at the bottom
        margin-top: -0.2em;
        ul {
            li {
                display: inline-block;
                padding: 1em;
                a {
                    font-family: $menu-font;
                    font-size: $h4-size;
                    color: $default-color;
                    text-decoration: none;
                }
                &:hover {
                    background-color: black;
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}
div#side-bar {
    * {
        text-align: center;
        font-family: $menu-font;
    }
    .side-bar-element {
        padding: 3em;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    img {
        max-width: 75%;
    }
}

footer.site-footer {
    padding: 2em;
    text-align: center;
    background-color: lightgrey;
    a, p {
        font-family: $menu-font;
    }
    span.glyphicon {
        color: red;
    }
}

@import 'mobile-side-panel.scss';



div.about {
    .text-container {
        padding: 2em;
        %textty {
            font-family: "Helvetica";
            font-weight: bold;
            color: white;
        }
        span {
            @extend %textty;
            font-size: 1em;
        }
        p {
            @extend %textty;
            line-height: 1.11;
            font-size: $h3-size;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            text-align: center;
            text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
        }
    }
    #first {
        background-image: url('../images/about-cover.jpg');
    }
    margin-top: -0.1em;
}
div.bestiaire {
    padding-bottom: 1em;
    * {
        margin: 0;
        padding: 0;
        border: none;
    }
    div.image-container {
        position: relative;
        width: 250%;
        a.bestiaire-link {
            img {
                display: block;
                max-width: 42%;
                background-color: white;
                transition: all .4s ease-in-out;
                &:hover {
                    transform: scale(1.25);
                    z-index: 15;
                }
            }
            &:hover + div.hovering-text {
                display: block;
            }
        }
        div.hovering-text {
            display: none;
            color: white;
            position: absolute;
            top: 0px;
            right: 4em;
            z-index: 15;
            max-width: 42%;
            h1 {
                font-size: 5.063em;
            }
            h2 {
                font-size: 3.375em;
            }
            p {
                text-align: justify;
                font-size: 1.5em;
                word-spacing: 0.01em;
            }
        }
        &.right {
            div.hovering-text {
                left: -27em;
            }
        }
    }
         
}
