---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url('https://fonts.googleapis.com/css?family=Abel');

@import 'bootstrap.min.scss';
$mobile-min-width: 320px;
$mobile-max-width: 640px;
$default-font-size: 16px;
$default-font-family: "Georgia";
$menu-font: "Abel";
$default-color: black;
$overlay-color: rgba(0, 0, 0, 0.5);

$typo-multiplier: 1.333;

$h4_size: 1em * $typo-multiplier;
$h3_size: $h4-size * $typo-multiplier;
$h2_size: $h3-size * $typo-multiplier;
$h1_size: $h2-size * $typo-multiplier;


@import 'reset.scss';
body {
    color: $default-color;
    overflow-x: hidden;
}

//Fix for the y overflow issue
.container-fluid 
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

%title {
    line-height: 1.05;
    padding-top: 0.4em;
    padding-bottom: 0.2em;
}

h1 {
    @extend %title;
    font-size: $h1-size;
}

h2 {
    @extend %title;
    font-size: $h2-size;
}

h3 {
    @extend %title;
    font-size: $h3-size;
}

h4 {
    @extend %title;
    font-size: $h4-size;
}

header.site-header {
    img#site-header-image {
        max-width: 100%;
    }
    nav#site-nav {
        text-align: center;
        background-color: lightgrey;
        //WARNING it seems that the header image as a white stripe at the bottom
        margin-top: -0.2em;
        ul {
            li {
                display: inline-block;
                padding: 1em;
                a {
                    font-family: $menu-font;
                    font-size: $h4-size;
                    color: $default-color;
                    text-decoration: none;
                }
                &:hover {
                    background-color: black;
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}
div#side-bar {
    * {
        text-align: center;
        font-family: $menu-font;
    }
    .side-bar-element {
        padding: 3em;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    img {
        max-width: 75%;
    }
}

footer.site-footer {
    padding: 2em;
    text-align: center;
    background-color: lightgrey;
    p {
        font-family: $menu-font;
    }
    a {
        font-family: $menu-font;
    }
    span.glyphicon {
        color: red;
    }
}

@import 'mobile-side-panel.scss'
