<header class="site-header">
  <a class="header-link" href="{{ site.url }}/"><img id="site-header-image" alt="{{ site.title | escape }}" src="{{ site.url }}/images/site-header-image.png" /></a>
  <nav id="site-nav">
        <ul>
            <li><a id="lyriques" href="{{ site.url }}/categories/PenséesLyrique">Pensées&nbsp;Lyriques</a></li>
            <li><a id="illustrations" href="{{ site.url }}/categories/IllustrationsIllustres">Illustrations&nbsp;Illustres</a></li>
            <li><a id="sous-fiffres" href="{{ site.url }}/categories/LesSousFiffresDeLArtiste">Les&nbsp;Sous&nbsp;Fiffres&nbsp;de&nbsp;l'artiste</a></li>
            <li><a id="bestiaire" href="{{ site.url }}/bestiaire">Le&nbsp;Bestiaire</a></li>
            <li><a id="archives" href="{{ site.url }}/archives">Archives</a></li>
            <li><a id="tags" href="{{ site.url }}/tags">Tags</a></li>
            <li><a id="about" href="{{ site.url }}/about">à&nbsp;Propos</a></li>
        </ul>
    </nav>
    <div id="button-container">
      <a id="menu-button" href="#!"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
    </div>
    <div id="mobile-side-bar">
      <div id="mobile-overlay">
      </div>
      <div id="mobile-menu-container">
      </div>
    </div>
</header>
