<header class="site-header">
  <a class="header-link" href="{{ site.url }}/"><img id="site-header-image" alt="{{ site.title | escape }}" src="{{ site.url }}/images/site-header-image.png" /></a>
  <nav id="site-nav">
        <ul>
            <li id="lyriques"><a id="lyriques-link" href="{{ site.url }}/categories/PenséesLyrique">Pensées&nbsp;Lyriques</a></li>
            <li id="illustrations"><a id="illustrations-link" href="{{ site.url }}/categories/IllustrationsIllustres">Illustrations&nbsp;Illustres</a></li>
            <li id="sous-fiffres"><a id="sous-fiffres-link" href="{{ site.url }}/categories/LesSousFiffresDeLArtiste">Les&nbsp;Sous&nbsp;Fiffres&nbsp;de&nbsp;l'artiste</a></li>
            <li id="bestiaire"><a id="bestiaire-link" href="{{ site.url }}/bestiaire">Le&nbsp;Bestiaire</a></li>
            <li id="archives"><a id="archives-link" href="{{ site.url }}/archives">Archives</a></li>
            <li id="tags"><a id="tags-link" href="{{ site.url }}/tags">Tags</a></li>
            <li id="about"><a id="about-link" href="{{ site.url }}/about">à&nbsp;Propos</a></li>
        </ul>
    </nav>
    <div id="button-container">
      <a id="menu-button" href="#!"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
    </div>
    <div id="mobile-side-bar">
      <div id="mobile-overlay">
      </div>
      <div id="mobile-menu-container">
      </div>
    </div>
</header>
