<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <a href="{{ include.post_arg.url | prepend: site.url }}">
      <h1 class="post-title" itemprop="name headline">{{ include.post_arg.title }}</h1>
    </a>
    <p class="post-meta"><time datetime="{{ include.post_arg.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.post_arg.date | date: "%d-%m-%Y" | to_french_date }}</time></p>
    <div class="tags">
      {% for tag in include.post_arg.tags %}
        {% include tag_part.html tag_arg=tag %}
      {% endfor %}
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ include.post_arg.content }}
  </div>
  
  <footer class="post-footer">
     
  </footer>

</article>
