<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <a href="{{ include.post_arg.url | prepend: site.url }}">
      <h1 class="post-title" itemprop="name headline">{{ include.post_arg.title }}</h1>
    </a>
    <p class="post-meta">
      {% include date_part.html date_arg=include.post_arg.date %}
    </p>
    <div class="tags">
      {% for tag in include.post_arg.tags %}
        {% include tag_part.html tag_arg=tag %}
        &nbsp;
      {% endfor %}
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ include.post_arg.content | markdownify }}
  </div>
  
  <footer class="post-footer">
    <!--{{ include.post_arg.suggested | first }}-->
    <div>
      Si vous avez aimez cette article peut-être<a href="#!">"article suggeré"</a>
    </div>
    <div>
      <span class="glyphicon glyphicon-heart"></span>
    </div>
  </footer>

</article>
