<div id="side-bar">        
  <div class="side-bar-element">
      <h3>Liste de diffusion !</h3>
      <form>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="votre addresse couriel"/>
        </div>
        <button type="submit" class="btn btn-primary"><h4>souscrire</h4></button>
      </form>
  </div>
  
  <div class="side-bar-element">
    <h3>Flux RSS !</h3>
    <button onclick="window.location.href = '{{ site.url }}/feed.xml';" class="btn btn-warning"><h4>souscrire</h4></button>
  </div>
  
  <div class="side-bar-element">
      <h3>TJGF</h3>
      <a href="https://play.google.com/store/apps/details?id=com.Runner.lib">
          <img  src="{{ site.url }}/images/tjgf.jpg" alt="thejollygoodfellas" />
      </a>
  </div>
  
  <div class="side-bar-element">
      <h3>à Propos</h3>
      <a href="{{ site.url }}/about">
          <img src="{{ site.url }}/images/about.png" alt="whome?"/>
      </a>
  </div>
</div>
