---
layout: default-side-bar-invisible-on-desktop
---
{% assign column_count = 4 %}
{% assign columns = (site.data.bestiaire | column_list: column_count)%}
<div class="bestiaire row">
  {% for column in columns %}
  <div class="col-xs-{{ 12 | divided_by: column_count }}">
    {% for element in column.images %}
    <div class="image-container {{ column.positioning }}">
      <a href="#!" class="bestiaire-link">
        <img alt="{{ element.title }}" src="{{ site.url }}/images/bestiaire/{{ element.file }}" />
      </a>
      <div id="hovering-text-{{ element.letter }}" class="hovering-text">
        <h1>{{ element.letter }}</h1>
        <h2>{{ element.title }}</h2>
        <div>
          {{ element.description | truncatewords: 50, '...' }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
